work/
dist/
.vscode/*
log.txt
assets/
.cache/
.clangd/
*.sh
!scripts/
!scripts/*
1

#cpp
compile_commands.json
.clangd/
.cache
build/
release/
#shared/
shared_temp/
vendor/
!**/akui/assets/
*.so
*.so.*
*.a
*.pc

# binary
*.mp3
*.wav
*.ogg
*.mp4
*.webm
*.png
*.jpg
*.pgm
*.ppm
*.pcm

# example
!**/examples/basic/assets/
!**/examples/basic/assets/river.mp4

# python
dist/
.venv/
.mypy_cache/
.python-version
poetry.lock
*.egg-info/
__pycache__
